<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="fragment/head :: head"></div>
        <title>Library-orpheus</title>
    </head>
    <body style="margin: auto; max-width: 99.99vw;">
        <div th:replace="fragment/header :: header"></div>
        <main style="max-width: 100vw; max-height: 80vh" class="bg-primary row m-0">
            <div style="height: 88vh" class="container col-sm-4 bg-secondary py-2 overflow-auto">
                <h3 class="text-center text-light">Person's List</h3>
                <a class="btn btn-dark col my-1" th:each="person : ${persons}" th:href="@{ '/person/'+${ person.id } }" th:text="${person.name}"></a>
                <a class="btn btn-dark col my-1" href="/person/">Add new</a>
            </div>
            <form class="container col bg-success py-2" th:action="@{ ${selectedPerson?.id} == null ? '/person/new' : '/person/'+${selectedPerson?.id}+'/update'}" th:object="${selectedPerson}" method="post">
                <!-- <div class="row p">
                    <div class="col">
                        <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </div>
                    <div class="col">
                        <h2 class="btn col p-3 m-2" th:text="${selectedPerson?.name}"></h2>
                        <button class="btn btn-danger col p-3 m-2" th:onclick="@{'window.open(`'+${selectedPerson?.id}+'/upload`,`test`, `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,width=0,height=0,left=-1000,top=-1000`);'}">upload new picture</button>
                    </div>
                </div> -->
                <div class="row p">
                    <h1 th:text="${selectedPerson?.id == null} ? 'New Person' : ${selectedPerson?.name}"></h1>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Person's name: </span>
                    <input name="name" type="text" placeholder="Enter name" th:value="${selectedPerson?.name}" class="form-control text-center">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">look: </span>
                    <input name="wight" type="number" placeholder="weight" th:field="*{wight}" th:value="${selectedPerson?.wight}" class="form-control text-center">
                    <input name="height" type="number" placeholder="height" th:field="*{height}" th:value="${selectedPerson?.height}" class="form-control text-center">
                    <span class="input-group-text">Gender: </span>
                    <input name="gender" type="form-control text-center" th:field="*{gender}" th:value="${selectedPerson?.gender}">
                    <span class="input-group-text">Eyes color: </span>
                    <input name="eyeColor" type="text" th:field="*{eyeColor}" th:value="${selectedPerson?.eyeColor}">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Contacts: </span>
                    <input name="email" type="email" placeholder="Email" th:field="*{email}" th:value="${selectedPerson?.email}" class="form-control text-center">
                    <input name="mobile" type="text" placeholder="Mobile" th:field="*{mobile}" th:value="${selectedPerson?.mobile}" class="form-control text-center">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Temporaly: </span>
                    <input name="abLearn" type="text" th:field="*{abLearn}" th:value="${selectedPerson?.abLearn}" placeholder="ability to learn" class="form-control text-center">
                    <input name="fvColor" type="text" th:field="*{fvColor}" th:value="${selectedPerson?.fvColor}" placeholder="favorite color" class="form-control text-center">
                    <input name="ownStyle" type="text" th:field="*{ownStyle}" th:value="${selectedPerson?.ownStyle}" placeholder="style" class="form-control text-center">
                </div>
                </div>
                <div class="input-group mb-3 justify-content-between">
                    <a th:href="@{'/person/' + ${selectedPerson?.id} + '/delete'}" class="col-3 btn btn-danger" th:hidden="${!(selectedPerson?.id > 0)}">Delete</a>
                    <button type="reset" class="col-3 btn btn-danger" th:hidden="${(selectedPerson?.id > 0)}">Reset</button>
                    <a class="btn col-3 bg-success" th:href="@{'/person/'+${selectedPerson?.id}}" th:hidden="${!(selectedPerson?.id > 0)}" >Back to Notes</a>
                    <button type="submit" class="col-3 btn btn-info" th:hidden="${!(selectedPerson?.id > 0)}">update</button>
                    <button type="submit" class="col-3 btn btn-primary" th:hidden="${(selectedPerson?.id > 0)}">Add person to DB</button>
                </div>
            </form>
        </main>
        <div th:replace="fragment/footer :: footer"></div>
    </body>
</html>